.root {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;

  &__wrapper {
    max-width: 600px;
    width: 100%;
  }

  &__images {
    position: relative;
  }

  &__rating {
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__ratingNum {
    position: absolute;
    left: 28px;
    top: 17px;
    color: #2c2c2c;
    font-size: 40px;
  }

  &__description {
    max-width: 500px;
    margin-bottom: 20px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #fe5f1e;
    border-radius: 20px
  }
}

.loading {
  display: flex;
  justify-content: center;
}
