.root {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;

  &__back {
    height: fit-content;
    position: absolute;
    top: 0;
    z-index: 9;
    transform: rotate(180deg);
    left: 0;
    border: 1px solid #fe5f1e;
    padding: 14px;
    border-radius: 50%;
    display: flex;
    transition: .2s ease-in-out;

    &:hover {
      background: #ffdf8c;
    }
  }

  &__wrapper {
    max-width: 600px;
    width: 100%;
  }

  &__images {
    position: relative;
  }

  &__rating {
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__ratingNum {
    position: absolute;
    left: 28px;
    top: 17px;
    color: #2c2c2c;
    font-size: 40px;
  }

  &__description {
    max-width: 500px;
    margin-bottom: 20px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #fe5f1e;
    border-radius: 20px
  }
}

