.root {

  &__wrapper {
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 490px;
  }

  &__title {
    position: absolute;
    color: #fe5f1e;
  }

  &__subtitle {
    position: absolute;
    bottom: 20px;
    right: 0;
    color: #fe5f1e;
  }

  &__gif {

  }
}
