.pizza_wrapper {

  &__img {
    width: 100%;
    max-width: 150px;

    &_left {
      margin-left: auto;
    }
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px
  }
}

.arrow_prev {
  transform: rotate(-90deg);
}

.arrow_next {
  transform: rotate(90deg);
}

.button_slider {
  display: flex;
  margin: 0px auto 20px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 50%;
}

.pizza_name {
  text-align: center;
  margin-bottom: 20px;
}

.pizzas_check {
  max-width: 300px;
}

.button_check {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  padding: 5px 1px 5px 6px;

  &__img {
    width: 100%;
  }
}

.pizzas_plus {
  position: absolute;
  bottom: 125px;
  padding: 20px;
  background: #ffdf8c;
  max-width: 400px;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  z-index: 9;
}
.total_price {
  position: absolute;
  bottom: 100px;
  padding: 10px;
  background: #fe5f1e;
  border-radius: 15px;
  z-index: 10;
  max-width: 170px;
  width: 100%;
  color: white;
  text-align: center;
}

.active {
  border: 1px solid #fe5f1e;
  border-radius: 5px;
}
